

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Quadro de avisos</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-warning">
    <h5 class="card-header">Lista de avisos</h5>
    <div class="card-body" >
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modaladd">
                        Adicionar Aviso
                      </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let warning of pageOfItems">
                    <div *ngIf="warning">
                        <td colspan="2">
                          <div *ngIf="!warning.date_viewed; else elseBlockViewed">
                              <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{warning.warning_id}}" role="button"
                              aria-expanded="false" aria-controls="collapseExample" (click)="updateWarningDateViewed(warning)">
                             {{warning.title}}
                           </a> - Visualizado? Não
                          </div>
                          <ng-template #elseBlockViewed>
                            <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{warning.warning_id}}" role="button"
                              aria-expanded="false" aria-controls="collapseExample">
                             {{warning.title}}
                           </a> - Visualizado? Sim</ng-template>
                        
                      <div class="collapse" id="collapse{{warning.warning_id}}">
                          <div class="card card-body">
                            <table>
                              <tr><td>ID:</td><td>{{warning.warning_id}}</td></tr>
                              <tr><td>Título:</td><td>{{warning.title}}</td></tr>
                              <tr><td>Descrição:</td><td>{{warning.description}}</td></tr>
                              <tr><td>Data Criação:</td><td>{{warning.date_published | date: "dd/MM/yyyy"}} as {{warning.date_published | date: "HH:mm:ss"}} hrs</td></tr>
                              <tr><td>Data Visualização:</td><td>{{warning.date_viewed | date: "dd/MM/yyyy"}} as {{warning.date_viewed | date: "HH:mm:ss"}} hrs</td></tr>
                              <tr><td colspan="2">
                                <button type="button" class="btn btn-warning btn-sm" (click)="editWarning(warning)" data-toggle="modal" data-target="#modaladd">Editar</button>
                                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteWarning(warning)">Deletar</button>
                            </td></tr>
                            </table>
                          </div>
                        </div>
                      
                      </td>
                    </div>
                  </tr>

          </tbody>
        </table>
    </div>
  </div>
  


  <div class="modal fade" id="modaladd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form id="add-form" (ngSubmit)="f.form.valid && saveWarning(f)" #f="ngForm" novalidate>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar/Editar Aviso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" [(ngModel)]="warning.title" id="title" name="title" #model="ngModel" required class="form-control" placeholder="Digite o título">
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <input type="text" [(ngModel)]="warning.description" id="description" name="description" #color="ngModel" required class="form-control" placeholder="Digite a descrição">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-add-warning"  (click)="cleanForm(f)" data-dismiss="modal">Fechar</button>
          <button id="btnSave" type="submit" class="btn btn-primary btn-add-warning">Salvar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <jw-pagination [items]="warnings" (changePage)="onChangePage($event)"></jw-pagination>
</div>

